.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2.5rem;
}
/*
.category-card {
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--color-background-soft);
  color: var(--color-heading);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.category-card:hover {
  background-color: var(--color-background-mute);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.category-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.category-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--color-heading);
}

 */
